CONFIG_TARGET_qualcommax=y
CONFIG_TARGET_qualcommax_ipq60xx=y
CONFIG_TARGET_MULTI_PROFILE=y
CONFIG_TARGET_DEVICE_qualcommax_ipq60xx_DEVICE_jdcloud_re-ss-01=y
CONFIG_TARGET_DEVICE_qualcommax_ipq60xx_DEVICE_jdcloud_re-cs-02=y
CONFIG_TARGET_DEVICE_PACKAGES_qualcommax_ipq60xx_DEVICE_jdcloud_re-cs-02="luci-app-athena-led luci-i18n-athena-led-zh-cn"

CONFIG_ATH11K_MEM_PROFILE_512M=y
CONFIG_NSS_FIRMWARE_VERSION_12_5=y

CONFIG_PACKAGE_luci-app-openclash=y

# 核心無線加密組件（解決連不上、不分配IP）
CONFIG_PACKAGE_wpad-openssl=y

# 高通 IPQ60xx / NSS 無線驅動與固件
CONFIG_PACKAGE_kmod-ath11k=y
CONFIG_PACKAGE_kmod-ath11k-ahb=y
CONFIG_PACKAGE_kmod-ath11k-pci=y
CONFIG_PACKAGE_ath11k-firmware-ipq60xx=y

# 核心網路與 DHCP 基礎組件
CONFIG_PACKAGE_dnsmasq-full=y

# 亞瑟/靈悉 LED 燈光控制
CONFIG_PACKAGE_luci-app-athena-led=y
CONFIG_PACKAGE_luci-i18n-athena-led-zh-cn=y
